<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>GBTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>IO.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>194</integer>
		</dict>
		<key>ToolKit Docs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ToolKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ToolKitFundamentals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ToolKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>io.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>linenoise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>linenoise_example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B0C48B819A9400E0046167F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B0C48CB19A9400E0046167F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B0C495919A956A10046167F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B3BEEDA1A9BB99300A8E446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B5E62CA1A9803460001B5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B5E62D41A9803460001B5F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B62B1BD1A99A6E3005BC6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B62B28D1A9A0D50005BC6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B8D2F631A98612F00D93D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B967DCF1ADB0D79005E09B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BA6C6DF1AE7F6D0001BBEDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BA6C6E61AE7F910001BBEDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BCD5A111AE890E80031A48E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
